#btn-top {
  position: fixed;
  bottom: 50px;
  right: 10px;
  padding: 8px;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 0 2px 0px rgba(0,0,0,0.3);
  cursor: pointer;
}

.return{
  padding: 20px;
  border: 1px solid #ddd;
}